#user-infos {
  margin-left: 8%;
  padding: 2% 8%;
}

h1 {
  font-size: 48px;
}

main {
  display: flex;
  flex-direction: row;
  gap: 31px;
}

#graphs {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  gap: 30px;
  max-width: 80%;
}

#stats {
  display: flex;
  flex-direction: column;
  flex-grow: 0.25;
  gap: 39px;
}

#advanced-stats {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1vw;
}

#advanced-stats>* {
  position: relative;
  flex-grow: 0.333333;
  display: flex;
  border-radius: 5px;
}


#daily-activity {
  display: flex;
  flex-grow: 1;
  background-color: black;
  border-radius: 5px;
}

#main-graph {
  background-color: #FBFBFB;
  padding: 60px 0 20px 0;
}

#main-graph-title {
  position: absolute;
  margin: -40px 20px;
  font-weight: 500;
}

#duration-graph-title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #FFFFFF;
  opacity: 50%;
}

#performance-chart {
  background-color: #282D30;
}

#duration-chart {
  background-color: #FF0000;
}

.duration-chart-title {
  margin-top: -5px;
  line-height: 50%;
  color: white;
  opacity: 50%;
}

#score-chart {
  background-color: #FBFBFB;
}

#score-chart-legend {
  text-align: center;
}

#score-percent {
  font-size: 26px;
  font-weight: 700;
}

#score-graph-title {
  position: absolute;
  top: -70px;
  left: 20px;
  font-weight: 500;
  font-size: 15px;
}

.daily-tooltip {
  background-color: #E60000;
  width: 55px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 60px;
  margin-top: -80px;
  color: white;
  padding: 5px;
  font-size: small;
}

.duration-tooltip {
  background-color: white;
  width: 55px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 5px;
  font-size: small;
}

@media screen and (max-width: 1200px) {
  #stats {
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  main {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  #main-graph {
    padding-bottom: 5px;
  }

  #graphs {
    max-width: 100%;
    gap: 10px;
  }

  h1 {
    font-size: 30px;
    margin: 0px;
  }

  #stats>* {
    padding: 20px;
  }
}